streamlit
langchain
langchain_community
langchain_groq
langchain_chroma
langchain_huggingface
langchain-openai
sentence-transformers
pdfplumber
pypdf
arxiv
wikipedia
duckduckgo-search
pymupdf
ipykernel
validators==0.28.1
youtube-transcript-api
unstructured
pytube
yt-dlp 
openai-whisper
numexpr
cassio
tiktoken
datasets
gradio